<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            visible="true"
            id="org.eclipsecon2013.tycho.plugin.actionSet"
            label="Sample Action Set">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world"
               icon="icons/sample.gif"
               id="org.eclipsecon2013.tycho.plugin.actions.SampleAction"
               menubarPath="sampleMenu/sampleGroup"
               class="org.eclipsecon2013.tycho.plugin.actions.SampleAction"
               label="&amp;Sample Action">
         </action>
      </actionSet>
   </extension>

</plugin>
